on early-init
    export EXTERNAL_STORAGE /mnt/storage

on init

# power management
# Enable off mode by default
#    write /sys/kernel/debug/pm_debug/enable_off_mode 1
# Enable c-states (cpuidle)
#    write /sys/devices/system/cpu/cpu0/cpuidle/enable_state 1

# Enable Smart Reflex in debugfs
    write /sys/kernel/debug/pm_debug/smartreflex/sr_core/autocomp 1
    write /sys/kernel/debug/pm_debug/smartreflex/sr_iva/autocomp 1
    write /sys/kernel/debug/pm_debug/smartreflex/sr_mpu/autocomp 1

    exec /system/bin/logwrapper cat /proc/kmsg

    write /sys/devices/platform/omapdss/display1/hpd_enabled 1

on post-fs-data
	mkdir /data/smc 0770 drmrpc drmrpc
#    setprop vold.post_fs_data_done 1

on early-boot
	chmod 0666 /dev/pvrsrvkm
#	setprop ro.crypto.keyfile.userdata /dev/block/platform/omap/omap_hsmmc.1/by-name/crypto


# cpufreq interactive governor: timer 20ms, min sample 20ms, hispeed 700MHz
#	write /sys/devices/system/cpu/cpufreq/interactive/timer_rate 20000
#	write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 20000
#	write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 700000

# autosuspend root hubs immediatly after attached devices
#	write /sys/bus/usb/devices/usb1/power/autosuspend_delay_ms 0
#	write /sys/bus/usb/devices/usb2/power/autosuspend_delay_ms 0

# Remove the Ultra Fast Media Card Reader on EHCI bus
#	write /sys/bus/usb/devices/1-1.1/remove 1

# wi-fi
	mkdir /data/misc/wifi/sockets 0770 wifi wifi
	mkdir /data/misc/dhcp 0770 dhcp dhcp
	insmod /lib/modules/compat.ko
	insmod /lib/modules/cfg80211.ko
	insmod /lib/modules/mac80211.ko
	insmod /lib/modules/wl12xx.ko debug_level=0x63c00

# GPS
#	insmod /system/lib/modules/gps_drv.ko

on fs

# change permissions for ION driver
    chmod 0777 /dev/ion
    chmod 0777 /dev/dce

# We chown/chmod /factory because mount is run as root + defaults
	chown radio radio /factory
	chmod 0775 /factory

# add symlink for HDCP key
#        symlink /factory/hdcp.keys /system/vendor/firmware/hdcp.keys

# allow system to modify cpufreq control files
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq

#Give system ownership and permission to boost clock for specified timeout
#Note boost_timeout cannot be changed from application because of dynamic sysfs creation. It will have default value of 3 sec.
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/boost_cpufreq
    chmod 0664  /sys/devices/system/cpu/cpu0/cpufreq/boost_cpufreq

# Boost the CPU for 60 sec for boot optimization
    write /sys/devices/system/cpu/cpufreq/hotplug/boost_timeout 60000000
    write /sys/devices/system/cpu/cpu0/cpufreq/boost_cpufreq 1

    chown media media /dev/syslink-proc4430
    chown media media /dev/syslink-procmgr
    chown media media /dev/syslink_ipc
    chown media media /dev/omap-rproc0
    chown media media /dev/omap-rproc1
    chown media media /dev/omap-rproc2
    chown media media /dev/iovmm-omap0
    chown media media /dev/iovmm-omap1
    chown media media /dev/omap-devh0
    chown media media /dev/omap-devh1
    chown media media /dev/omap-devh2

    chmod 660 /dev/syslink-proc4430
    chmod 660 /dev/syslink-procmgr
    chmod 660 /dev/syslink_ipc
    chmod 440 /dev/omap-rproc0
    chmod 440 /dev/omap-rproc1
    chmod 440 /dev/omap-rproc2
    chmod 440 /dev/iovmm-omap0
    chmod 440 /dev/iovmm-omap1
    chmod 440 /dev/omap-devh0
    chmod 440 /dev/omap-devh1
    chmod 440 /dev/omap-devh2

    chmod 777 /dev/notifyducatidrv
    chmod 777 /dev/ipcnotify

    chmod 777 /dev/syslink_platform

    # change permissions for Tiler driver
    chown media media /dev/tiler
    chmod 0777 /dev/tiler
    chmod 0777 /dev/dmm

    # change permissions for modem
    chmod 0660 /dev/ttyS0
    chown radio radio /dev/ttyS0

    
    # change permissions for overlay managers and display devices
    chown system system /sys/devices/platform/omapdss/display0/enabled
    chown system system /sys/devices/platform/omapdss/display1/enabled
    chown system system /sys/devices/platform/omapdss/display1/hpd_enabled
    chown system system /sys/devices/platform/omapdss/display2/enabled
    chown system system /sys/devices/platform/omapdss/display3/enabled
    chown system system /sys/devices/platform/omapdss/display0/name
    chown system system /sys/devices/platform/omapdss/display1/name
    chown system system /sys/devices/platform/omapdss/display2/name
    chown system system /sys/devices/platform/omapdss/display3/name
    chown system system /sys/devices/platform/omapdss/overlay0/manager
    chown system system /sys/devices/platform/omapdss/overlay1/manager
    chown system system /sys/devices/platform/omapdss/overlay2/manager
    chown system system /sys/devices/platform/omapdss/overlay3/manager
    chown system system /sys/devices/platform/omapdss/overlay0/zorder
    chown system system /sys/devices/platform/omapdss/overlay1/zorder
    chown system system /sys/devices/platform/omapdss/overlay2/zorder
    chown system system /sys/devices/platform/omapdss/overlay3/zorder
    
    #change permissions on overlay1, 2 and 3 for hdmi setup
    chown system system /sys/devices/platform/omapdss/overlay1/position
    chown system system /sys/devices/platform/omapdss/overlay1/input_size
    chown system system /sys/devices/platform/omapdss/overlay1/output_size
    chown system system /sys/devices/platform/omapdss/overlay2/position
    chown system system /sys/devices/platform/omapdss/overlay2/input_size
    chown system system /sys/devices/platform/omapdss/overlay2/output_size
    chown system system /sys/devices/platform/omapdss/overlay3/position
    chown system system /sys/devices/platform/omapdss/overlay3/input_size
    chown system system /sys/devices/platform/omapdss/overlay3/output_size
    
    # change permissions for manager tranparency parameters
    chown system system /sys/devices/platform/omapdss/manager0/name
    chown system system /sys/devices/platform/omapdss/manager0/display
    chown system system /sys/devices/platform/omapdss/manager1/name
    chown system system /sys/devices/platform/omapdss/manager1/display
    chown system system /sys/devices/platform/omapdss/manager2/name
    chown system system /sys/devices/platform/omapdss/manager2/display
    chown system system /sys/devices/platform/omapdss/overlay0/enabled
    chown system system /sys/devices/platform/omapdss/overlay1/enabled
    chown system system /sys/devices/platform/omapdss/overlay2/enabled
    chown system system /sys/devices/platform/omapdss/overlay3/enabled

    # change permissions for display timings to get the resolutions
    chown system system /sys/devices/platform/omapdss/display0/timings
    chown system system /sys/devices/platform/omapdss/display1/timings
    chown system system /sys/devices/platform/omapdss/display2/timings
    chown system system /sys/devices/platform/omapdss/display3/timings

    # change permissions for overlay setting
    chown system system /sys/module/omapdss/parameters/overscan_percent

    # change permissions for s3d parameters (let hwc write)
    chown system system /sys/devices/platform/omapdss/display1/s3d_enable
    chown system system /sys/devices/platform/omapdss/display1/s3d_type

    symlink /dev/ttyO0 /dev/tigps

# Enable secondary display on Blaze
#    write /sys/devices/platform/omapdss/display1/enabled 1
#    write /sys/devices/platform/omapdss/overlay1/enabled 0
#    write /sys/devices/platform/omapdss/overlay1/manager "2lcd"
#    write /sys/devices/platform/omapdss/overlay1/enabled 1

# Revert the boost_timeout to the default value of 3 sec. Note this won't affect the prev boost
# request for boot time reduction
    write /sys/devices/system/cpu/cpufreq/hotplug/boost_timeout 3000000

#setup the hdmi interface
    # Enable hotplug detection for HDMI
    write /sys/devices/platform/omapdss/display1/hpd_enabled 1
    

# Change permissions for FB overlays for HDMI UI Cloning
    chown system system /sys/class/graphics/fb0/overlays
    chown system system /sys/class/graphics/fb0/fit_to_screen
    chown system system /sys/class/graphics/fb1/overlays

# Disable GPS
    write /sys/devices/platform/nl5550.0/gps_nshutdown/value 0

# Enable UI-Cloning Service in SystemServer
    setprop tv.hdmi.uicloning.enable true

# TouchInputMapper config for hdmi
    setprop touch.deviceTypeOnHdmi touchScreen
    setprop touch.strictPositionOnHdmi off

# Keypad permissions
    chmod 0444 /system/usr/keychars/omap-keypad.kcm.bin
    chmod 0444 /system/usr/keychars/qwerty.kcm.bin

# change permissions for S3D hardware
#    chown system system /sys/devices/platform/omapdss/display0/s3d_enable
#    chown system system /sys/devices/platform/omapdss/display1/s3d_enable
#    chown system system /sys/devices/platform/omapdss/display1/s3d_type

# SGX driver
    chmod 0666 /dev/pvrsrvkm
# Initialize the SGX driver
service pvrsrvinit /system/bin/pvrsrvinit
#service pvrsrvinit /system/vendor/bin/pvrsrvinit
    class core
    user root
    group root
    oneshot

service thermaldaemon /system/bin/thermaldaemon
    class core
    user root
    group root
    disabled
    critical

###################################################
# MSHIELD SMC PA Control - installs the SMC PA into the Secure Environment
###################################################
#service smc_pa /system/bin/smc_pa_ctrl \
#    -c /vendor/etc/smc_normal_world_android_cfg.ini \
#    start /vendor/firmware/smc_pa.ift
#    class core
#    user root
#    group root
#    oneshot

on property:ro.board.cpu_type=OMAP4460
    start thermaldaemon    

service watchdog_daemon /system/bin/watchdog_daemon
    class core
    user root
    group root
    critical
    
#Load IVA firmware
#service baseimage /system/bin/syslink_daemon.out -f /lib/firmware/base_image_sys_m3.xem3 /lib/firmware/base_image_app_m3.xem3
#    class core
#    critical
#    user root
#    group media
    
service akmd /system/bin/akmd8975 -m 6
    class core
    user compass
    group misc

service switch_ms_to_3g /system/bin/logwrapper /usr/bin/usb_modeswitch
    class core
    user root
    group root
    disabled
    oneshot

#shared transport user space mgr service for Bluetooth, FM and GPS
service uim /system/bin/uim-sysfs
    class core
    user root
    group bluetooth net_bt_admin

service hciattach /system/bin/hciattach -l
    user root
# changing user to root from bluetooth is a potential security issue
# service hciattach_legacy is used instead of hciattach because, we dont
# have nodes named ttyHS0
    group bluetooth net_bt_admin misc
    disabled
    oneshot

# WLAN Related services
#service wlan_loader /system/bin/wlan_loader \
#    -f /system/etc/wifi/firmware.bin -i /data/misc/wifi/tiwlan.ini -e /data/misc/wifi/wlanconf.nvs
#    class main
#    disabled
#    oneshot
    
service wpa_supplicant /system/bin/wpa_supplicant -Dnl80211 -iwlan0
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

#service wpa_supplicant /system/bin/wpa_supplicant -Dwlan0 -iwlan0 -c/data/misc/wifi/wpa_supplicant.conf
#    class main
#    socket wpa_wlan0 dgram 660 wifi wifi
#    disabled
#    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service dhcpcd_bnep0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_bnep0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service dhcpcd_p2p /system/bin/dhcpcd -aABKL
    class main
    disabled
    oneshot

service iprenew_p2p /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service hostapd_bin /system/bin/hostapd -d /data/misc/wifi/hostapd.conf
    class main
    socket wpa_wlan1 dgram 660 wifi wifi
    disabled
    oneshot

# HotSpot Related services
#service wlan_ap_loader /system/bin/tiap_loader \
#    -f /system/etc/wifi/softap/firmware_ap.bin \
#    -i /system/etc/wifi/softap/tiwlan_ap.ini \
#    -e /data/misc/wifi/wlanconf.nvs
#    class main
#    disabled
#    oneshot
    
#service ifcfg_softap /system/bin/ifconfig tiap0 up
#    class main
#    disabled
#    oneshot

on property:wlan.driver.status=ok
    chown wifi wifi /sys/devices/platform/wl1271/bt_coex_state

# GPS services
service navl_server /system/bin/navd --android_log NAVD  -p3 -nav\"-c/system/etc/gps/config/pathconfigfile.txt\"
    user root
    oneshot

service cplc_main /system/bin/cplc_main XML
       disabled
       oneshot

service rilPos-daemon /system/bin/rilposd -l /system/lib/librilpos.so -- -c CAIF -p 3000 -h localhost
       disabled
       oneshot

service console /bin/sh
    class core
    console
    disabled
#    user shell
#    group log

on property:ro.secure=0
    start console    
